[Unit]
Description=Uwsgi Exporter Service
Wants=network-online.target
After=network-online.target

[Service]
User=root
Group={{ prometheus_user }}
Type=simple

ExecStart=/usr/local/bin/uwsgi_exporter {{ prometheus_uwsgi_exporter_args }}

[Install]
WantedBy=multi-user.target
